absl-py==2.3.0
accelerate==1.14.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.13.1
altair==5.5.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.13.0
attrs==25.3.0
audioread==3.0.1
av==12.1.0
babel==2.17.0
bangla==0.0.5
basicsr==1.4.2
bcrypt==5.0.0
billiard==4.2.4
bitsandbytes==0.49.2
blinker==1.9.0
blis==1.2.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
cachetools==6.2.0
catalogue==2.0.10
celery==5.4.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.21.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
confection==0.1.5
contourpy==1.3.2
coqpit==0.0.17
cryptography==49.0.0
cssselect2==0.8.0
cycler==0.12.1
cymem==2.0.11
Cython==3.1.3
dateparser==1.1.8
decorator==5.2.1
decord==0.6.0
devicetorch==0.1.13
diffusers==0.33.1
docopt==0.6.2
easyocr==1.7.2
ecdsa==0.19.2
einops==0.8.0
encodec==0.1.1
et_xmlfile==2.0.0
facexlib==0.3.0
fastapi==0.110.0
ffmpeg-python==0.2.0
ffmpy==0.6.0
filelock==3.29.4
filterpy==1.4.5
Flask==3.1.2
Flask-Login==0.6.3
flatbuffers==25.2.10
flit_core==3.12.0
fonttools==4.58.2
frozenlist==1.7.0
fsspec==2026.4.0
ftfy==6.3.1
future==1.0.0
fvcore==0.1.5.post20221221
g2pkk==0.1.2
gfpgan==1.3.8
gitdb==4.0.12
GitPython==3.1.44
gradio==5.25.2
gradio_client==1.8.0
greenlet==3.5.1
groovy==0.1.2
grpcio==1.73.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
hangul-romanize==0.1.0
hf-xet==1.5.1
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
huggingface_hub==1.19.0
humanfriendly==10.0
idna==3.18
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib_metadata==8.7.0
# Editable install with no version control (inference-core-nodes==0.5.0)
-e d:\comfyui_windows_portable\comfyui\custom_nodes\comfyui-inference-core-nodes
inflect==7.5.0
intel-openmp==2021.4.0
iopath==0.1.10
itsdangerous==2.2.0
jamo==0.4.1
jax==0.7.0
jaxlib==0.7.0
jieba==0.42.1
Jinja2==3.1.6
joblib==1.5.1
jsonlines==1.2.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kombu==5.6.2
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
librouteros==3.4.1
llvmlite==0.44.0
lmdb==1.6.2
loguru==0.7.2
lxml==6.0.0
Mako==1.3.12
manifold3d==3.2.0
mapbox_earcut==1.0.3
marisa-trie==1.3.1
Markdown==3.8
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.3
mdurl==0.1.2
mediapipe==0.10.21
mkl==2021.4.0
ml_dtypes==0.5.1
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
murmurhash==1.0.13
mysql-connector-python==9.3.0
narwhals==2.2.0
networkx==3.6.1
ninja==1.13.0
nltk==3.9.1
num2words==0.5.14
numba==0.61.2
numpy==1.26.4
omegaconf==2.3.0
onnxruntime-gpu @ https://aiinfra.pkgs.visualstudio.com/2692857e-05ef-43b4-ba9c-ccf1c22c437c/_packaging/9387c3aa-d9ad-4513-968c-383f6f7f53b8/pypi/download/onnxruntime-gpu/1.17.1/onnxruntime_gpu-1.17.1-cp311-cp311-win_amd64.whl
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
orjson==3.10.18
packaging==26.2
pandas==1.5.3
passlib==1.7.4
peft==0.15.2
pillow==10.3.0
platformdirs==4.3.8
plotly==6.3.0
pooch==1.8.2
portalocker==3.2.0
preshed==3.0.10
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==4.25.8
proxmoxer==2.1.0
psutil==7.2.2
psycopg2-binary==2.9.9
pyarrow==21.0.0
pyasn1==0.6.3
pyclipper==1.4.0
pycollada==0.9.2
pycparser==3.0
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.20.0
PyMuPDF==1.24.3
PyMuPDFb==1.24.3
pynndescent==0.5.13
pyparsing==3.2.3
pypinyin==0.55.0
pyreadline3==3.5.4
pysbd==0.3.4
python-bidi==0.6.10
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2025.2
PyWavelets==1.8.0
pywin32==311
PyYAML==6.0.1
realesrgan==0.3.0
redis==5.0.4
referencing==0.36.2
regex==2026.5.9
reportlab==4.4.2
requests==2.34.2
rich==15.0.0
RouterOS-api==0.21.0
rpds-py==0.26.0
rsa==4.9.1
rtree==1.4.0
ruff==0.11.13
safehttpx==0.1.6
safetensors==0.8.0
sageattention==1.0.6
scikit-image==0.22.0
scikit-learn==1.7.1
scipy==1.12.0
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.1.1
shellingham==1.5.4
simsimd==6.5.0
six==1.17.0
smart_open==7.3.0.post1
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soxr==0.5.0.post1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
srsly==2.5.1
starlette==0.36.3
streamlit==1.49.0
streamlit-autorefresh==1.0.1
stringzilla==3.12.5
SudachiDict-core==20250515
SudachiPy==0.6.10
svg.path==7.0
svglib==1.5.1
sympy==1.14.0
tabulate==0.9.0
tb-nightly==2.20.0a20250610
tbb==2021.13.1
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
thinc==8.3.4
threadpoolctl==3.6.0
tifffile==2025.6.1
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.13.3
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
torchsde==0.2.6
torchvision==0.22.1+cu126
tornado==6.5.2
tqdm==4.68.2
trainer==0.0.36
trampoline==0.1.2
transformers==5.1.0
trimesh==4.7.1
triton-windows==3.3.1.post19
TTS==0.22.0
typeguard==4.4.4
typer==0.25.1
typer-slim==0.24.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
umap-learn==0.5.9.post2
Unidecode==1.4.0
urllib3==2.7.0
uuid6==2024.1.12
uvicorn==0.29.0
vhacdx==0.0.8.post2
vine==5.1.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.8.1
weasel==0.4.1
webencodings==0.5.1
websockets==16.0
Werkzeug==3.1.3
win32_setctime==1.2.0
wrapt==1.17.3
xxhash==3.5.0
yacs==0.1.8
yapf==0.43.0
yarl==1.20.1
zipp==3.23.0
